.responsive-slider {
  width: 100%;
  position: relative;
}
.responsive-slider [data-animate] {
  opacity: 0;
}
.responsive-slider .slides {
  position: relative;
  overflow: hidden;
}
.responsive-slider .slides ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  font-size: 0;
}
.responsive-slider .slides ul li {
  display: inline-block;
  max-width: 100%;
}
.responsive-slider .slides ul li .slide-body {
  display: inline-block;
  position: relative;
  max-width: 100%;
  font-size: 14px;
}
.responsive-slider .slides ul li .slide-body img {
  max-width: 100%;
  
}
.responsive-slider .slides ul li .slide-body .caption {
  position: absolute;
  color: #fff;
  text-shadow: 0px 1px 0px #000000;
}
.responsive-slider .slides ul li .slide-body .caption.header {
  top: 10%;
  left: 35px;
  /* font-weight:bold; */
}
#slide_text1{
position:absolute;
top:-15px;
left:35px;
}
@media (min-width:1200px) and (max-width:1280px) {
  /*.responsive-slider .slides ul li .slide-body .caption.header {
    top: 40px;
    left: 35px;
    width:10%
    /!* font-weight:bold; *!/
  }
  #slide_text1{
    position:absolute;
    top:-20px;
    left:12px;
  }
  .responsive-slider .slides ul li .slide-body .caption.sub {
    bottom: 0px;
    right: -167px;
    top:40px;
    width:15%
    /!* font-weight: bold; *!/
  }
  #slide_text2{
    position:absolute;
    top:-10px;
    left:5px;
  }
  .responsive-slider .slides ul li .slide-body .caption.img-html5 {
    top: 23%;
    right: -40px;
    width: 30%;
  }
  #slide_text3{
    position:absolute;
    top:-10px;
    left:5px;
  }
  .responsive-slider .slides ul li .slide-body .caption.img-css3 img {
    max-width: 100%;
  }
  #slide_text4{
    position:absolute;
    top:-17px;
    left:15px;
  }*/

}

.responsive-slider .slides ul li .slide-body .caption.header h2 {
  font-size: 40px;
}
.responsive-slider .slides ul li .slide-body .caption.header h2 i {
  font-size: 35px;
}
@media (min-width: 481px) and (max-width: 767px) {
  .responsive-slider .slides ul li .slide-body .caption.header h2 {
    font-size: 25px;
  }
  .responsive-slider .slides ul li .slide-body .caption.header h2 i {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .responsive-slider .slides ul li .slide-body .caption.header h2 {
    font-size: 16px;
  }
  .responsive-slider .slides ul li .slide-body .caption.header h2 i {
    font-size: 14px;
  }
}
.responsive-slider .slides ul li .slide-body .caption.sub {
  bottom: 0px;
  right: -167px;
  top:14%;
  /* font-weight: bold; */
}
#slide_text2{
position:absolute;
top:-10px;
left:5px;
}
@media (min-width: 481px) and (max-width: 767px) {
  .responsive-slider .slides ul li .slide-body .caption.sub {
    font-size: 11px;
    bottom: 0px;
    right: -10px;
  }
}
@media (max-width: 480px) {
  .responsive-slider .slides ul li .slide-body .caption.sub {
    font-size: 10px;
    bottom: 5px;
    right: 0;
  }
}
.responsive-slider .slides ul li .slide-body .caption.img-html5 {
  top: 23%;
  right: -40px;
  width: 30%;
}
#slide_text3{
position:absolute;
top:-10px;
left:5px;
}
.responsive-slider .slides ul li .slide-body .caption.img-html5 img {
  max-width: 100%;
}
.responsive-slider .slides ul li .slide-body .caption.img-css3 {
  top: 10%;
  right: 4px;
  width: 14%;
}
.responsive-slider .slides ul li .slide-body .caption.img-css3 img {
  max-width: 100%;
}
#slide_text4{
position:absolute;
top:-17px;
left:15px;
}
.responsive-slider .slides ul li .slide-body .caption.img-bootstrap {
  top: 48%;
  right: 12%;
  width: 11%;
}
.responsive-slider .slides ul li .slide-body .caption.img-bootstrap img {
  max-width: 100%;
}
.responsive-slider .slides ul li .slide-body .caption.img-twitter {
  top: 19%;
  right: 12%;
  width: 11%;
}
.responsive-slider .slides ul li .slide-body .caption.img-twitter img {
  max-width: 100%;
}
.responsive-slider .slides ul li .slide-body .caption.img-jquery {
  top: 66%;
  right: 12%;
  width: 33%;
}
.responsive-slider .slides ul li .slide-body .caption.img-jquery img {
  max-width: 100%;
}
.responsive-slider .slider-control {
  position: absolute;
  font-size: 20px;
  color: #000;
  top: 40%;
  background-color: #fff;
  padding: 10px;
}
.responsive-slider .slider-control.left {
  left: 0;
  padding-left: 0;
  -webkit-border-radius: 0px 6px 6px 0px;
  border-radius: 0px 6px 6px 0px;
}
.responsive-slider .slider-control.left:hover {
  text-decoration: none;
  padding-left: 10px;
}
.responsive-slider .slider-control.right {
  right: 0;
  padding-right: 0;
  -webkit-border-radius: 6px 0px 0px 6px;
  border-radius: 6px 0px 0px 6px;
}
.responsive-slider .slider-control.right:hover {
  text-decoration: none;
  padding-right: 10px;
}
@media (max-width: 480px) {
  .responsive-slider .slider-control.left,
  .responsive-slider .slider-control.right {
    display: none;
  }
}
.responsive-slider .pages {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.responsive-slider .pages .page {
  display: inline-block;
  color: transparent;
  width: 5px;
  height: 5px;
  border: 3px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
}
.responsive-slider .pages .page.active {
  opacity: 1;
}
@media (min-width: 1200px) and (max-width: 1280px) {
  .responsive-slider .slides ul li .slide-body .caption.sub { right: -135px; }
  .caption.header img{
    height: 200px;
  }
  .caption.sub img {
    height: 175px;
  }
  .caption.img-html5 img { height: 180px; }
  .caption.img-css3 img { height: 200px; }
  #slide_text1 { left: 20px; }
  #slide_text2 { left: -5px; }
  #slide_text3 { left: 12px; }
  #slide_text3 { left: -8px; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .responsive-slider .slides ul li .slide-body .caption.sub { right: -115px; }
  .caption.header img{
    height: 170px;
  }
  .caption.sub img {
    height: 135px;
  }
  .caption.img-html5 img { height: 150px; }
  .caption.img-css3 img { height: 175px; }
  #slide_text1 { left: 20px; }
  #slide_text2 { left: -5px; }
  #slide_text3 { left: 12px; }
  #slide_text4 { left: -8px; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .responsive-slider .slides ul li .slide-body .caption.sub { right: -78px; }
  .caption.header img{
    height: 137px;
  }
  .caption.sub img {
    height: 117px;
  }
  .caption.img-html5 img { height: 117px; }
  .caption.img-css3 img { height: 137px; }
  #slide_text1 { left: 25px;
    font-size: 8px;
  }
  #slide_text2 { left: 5px;
    font-size: 8px;
  }
  #slide_text3 {
    left: 0px;
    font-size: 8px;
  }
  #slide_text4 {
    top: -14px;
    left: 0px;
    font-size: 8px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .responsive-slider .slides ul li .slide-body .caption.sub { right: -50px; }
  .caption.header img{
    height: 88px;
  }
  .caption.sub img {
    height: 74px;
  }
  .responsive-slider .slides ul li .slide-body .caption.img-html5 { right: -21px; }
  .caption.img-html5 img { height: 74px; }
  .caption.img-css3 img { height: 88px; }
  #slide_text1 {
    left: 10px;
    font-size: 8px;
    top: -12px;
  }
  #slide_text2 { left: 2px;
    font-size: 8px;
  }
  #slide_text3 {
    left: -12px;
    font-size: 8px;
  }
  #slide_text4 {
    top: -12px;
    left: 0px;
    font-size: 8px;
  }
}
@media (max-width: 480px) {
  .responsive-slider .slides ul li .slide-body .caption.sub { right: -50px; }
  .caption.header img{
    height: 62px;
  }
  .caption.sub img {
    /*display: none;*/
    width:100%;
  }
  .responsive-slider .slides ul li .slide-body .caption.img-html5 { right: -21px; }
  .caption.img-html5 img {
    /*display: none; */
    width:30%;
	margin-left: -28px;
	margin-top: 6px;
  }
  .responsive-slider .slides ul li .slide-body .caption.header{
	left:0px;
  }
  .caption.img-css3 img { height: 70px; }
  #slide_text1 {
    left: 1px;
    font-size: 8px;
    top: -6px;
  }
  #slide_text2 {
    left: 0px;
    font-size: 8px;
  }
  #slide_text3 {
    left: -60px;
    font-size: 8px;
	width:40px;
	margin-top: 10px;
  }
  #slide_text4 {
    top: -2px;
    left: -26px;
    font-size: 8px;
  }
}
@media (max-width:480px){
  .responsive-slider .pages{
    bottom: -12px;
  }

}