
body { 
overflow-x: hidden;
/* margin-top:-5px !important */;
}
/* remove the spinner */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
.ui-notification.killed {
	-webkit-transition: opacity ease 1s;
	-o-transition: opacity ease 1s;
	transition: opacity ease 1s;
	opacity: 0;
	display: none !important;
}


.downloadimg img{
	position: absolute;
	top: 280px;
	left: 0px;
	right: 0px;
	/*bottom: 0px;*/
	margin: auto;
	padding: 0px;
	text-align: center;
	display: flex;
	flex-direction: column;
	z-index: 9999999;
	/*margin: auto;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);*/
	/*position: absolute;
   top: 50%;
   left: 50%;

   margin-top: -250px; /!* Half the height *!/
margin-left: -250px; /!* Half the width *!/*/
}

/*.m_top50{margin-top: 64px;}*/

/*#headerimg .navbar-default{
	background: url(../image/header.jpg);
	border-color: rgb(64, 172, 247);
	height:65px;
}
.navbar-navheader11 ul li a{
	padding: 5px 0px;
}
ul li .downloadtext,ul li .downloadtext:hover,ul li .downloadtext:focus{
	color: #fff !important;
	margin-top: 7px;
	font-weight: bold !important;
	font-size: 12px;
}*/
.header-img {
 position: relative;
 }
 .header-img img{
	width:100%;
	/* margin-top: 1px */;
 }
.header-logo img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 9999;
}
.header-img1 { 
position: relative;
top:-8px; 
left:-7px;
}

.nopadding { 
	padding: 0;
	margin: 0;
}
.content-area {
	height:100px;
	border:solid 2px orange;
	overflow:scroll;
	overflow-x:hidden;
	overflow-y:scroll;
}
#contactusForm{
margin-left:-15px;
}
form input {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 0px;
	height: 35px;
	margin-bottom: 10px;
	padding-left: 15px;
}
form textarea {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	padding-left: 15px;
}
.below-content {

	background-color: #f3f3f3;
	border-top: 2px solid #444;
	height:90%;
}
.copy-rights {
	background: #444;
	color: #fff;
	padding: 50px 5px;
}
.ScrollStyle{
	max-height: 100px; 
    overflow-y: scroll;	
	border: 1px solid #5BC0DE;
	margin-top: 10px;
	padding: 15px;
}
#select-option .btn {
	height: 35px;
    margin-top: -2px;
}
#select-option .btn-default { 
	border-radius: 0; 
    border: 1px solid #5BC0DE;
}
#select-option input { 
	    height: 34.5px;
    width: 250px;
    margin-left: -5px;
    margin-right: -4px;
    /* margin-top: -5px; */
    border: 1px solid #5BC0DE;
}
#select-option .btn-info{
	border-radius: 0;
	width: 80px;
	margin-right:0px;
	
}
#search {
    width: 10em;  height: 3em;
	position:relative;
margin-top:0%;
	margin-bottom:0%;
}

#textbold{
font-size:22px;
font-weight:bold;

}
#textbold1{
font-size:22px;
font-weight:bold;
color:#5BC0DE;

}
#normaltext{
}
.filedata{
line-height: 30px;
padding: 10%;
text-align: left;
font-size: 20px;
}
.responsive-slider .pages {
    position: absolute;
    bottom: -17px !important;
    left: 0px;
    width: 100%;
    text-align: center;
}

.text-justify{
	text-align: justify;
}
@media(max-width:991px) {
	.marght{margin-right: -24px;}
	ul li .downloadtext,ul li .downloadtext:hover,ul li .downloadtext:focus{

		font-size: 12px !important;
	}
}
@media(max-width:337px) {
#select-option .btn-default { 
width:30%;
}
#select-option input {
width:70%;
}
#select-option .btn-info{
display:block;
    width: 100%;	
}
}
@media (min-width:338px) and (max-width:421px) {
#select-option .btn-default { 
width:20%
}
#select-option input {
width:80%;
}
#select-option .btn-info{
    display: block;
    width: 100%;	
}
}
@media (max-width:379px) {
	.header-logo img {
		top: 0px;
		width: 12%;
	}
}
@media (min-width:380px) and (max-width:549px) {
	.header-logo img {
		top: 6px;
		width: 10%;
	}
	.paymentStatus {
		text-align: center;
		background: #fff;
		display: table;
		margin: 65px auto 20px;
		padding: 10px;
		/*height: 100px;*/
		line-height: 100px;
		border: 4px double #ccc;
		border-radius: 5px;
		box-shadow: inset 0 0 6px #ccc;
		font-size: 20px;
		color: #34baa8;
	}
}
@media (min-width:550px) and (max-width:649px) {
	.header-logo img {
		top: 12px;
		width: 10%;
	}
	.paymentStatus {
		text-align: center;
		background: #fff;
		display: table;
		margin: 65px auto 20px;
		padding: 10px;
		/*height: 100px;*/
		line-height: 100px;
		border: 4px double #ccc;
		border-radius: 5px;
		box-shadow: inset 0 0 6px #ccc;
		font-size: 20px;
		color: #34baa8;
	}
}
@media (min-width:650px) and (max-width:980px) {
	.header-logo img {
		top:10px;
		width:10%;
	}
	.paymentStatus {
		text-align: center;
		background: #fff;
		display: table;
		margin: 65px auto 20px;
		padding: 10px;
		/*height: 100px;*/
		line-height: 100px;
		border: 4px double #ccc;
		border-radius: 5px;
		box-shadow: inset 0 0 6px #ccc;
		font-size: 20px;
		color: #34baa8;
	}
}
@media (min-width:981px) and (max-width:1200px) {
	.header-logo img {
		top:10px;
		width:10%;
	}
}


@media (max-width:768px){
.filedata{
line-height: 25px !important;
/*padding: 8% !important;*/
text-align: left !important;
font-size: 15px !important;
}
#textbold{
font-size:17px !important;
font-weight:bold;
}
#textbold1{
font-size:17px !important;
font-weight:bold;
color:#5BC0DE;

}
}
@media (max-width:481px){
.header-img img{
	width: 100%;
	margin-top: -6px;
	height: 25px;
 }
}

.paymentStatus {
	text-align: center;
	background: #fff;
	display: table;
	margin: 65px auto 20px;
	padding: 10px;
	/*height: 100px;*/
	line-height: 100px;
	border: 4px double #ccc;
	border-radius: 5px;
	box-shadow: inset 0 0 6px #ccc;
	font-size: 20px;
	color: #34baa8;
}
.abc, .abc img { position: relative; }
.abc1 {
	position: absolute;
	top: 40%;
	left: 11.2%;
	width: 40%;

}

.abc1 img {
	width: 35%;
	float: left;
	margin: 10px;
}
@media (max-width:481px){

	.abc1 {
		margin: auto;
		left: 16.2% !important;

	}
	.abc1 img {
		float: none;
		text-align: center;
		margin: 5px !important;
	}
}