<p>Hi $userName$,<br/><br/>
At the onset thank you for downloading and registering on Ouroneapp.<br/><br/>

    Now before visiting a retailer, get to know what is new in the store for you. Check out the best products suiting your need and offered by your retailer across categories. Earn Loyalty points on every referral you provide to the retailer.
Browse across 30 categories of sellers, and keep adding sellers you like from any city.
Share the app, by clicking on link below, and showcase your shopping experience with the retailer to your friends and family. (facebook, google+)
Best Regards,<br/><br/>
Team Ouroneapp
</p>
