<p>Hi $userName$,<br/><br/>
    Dear Customer,Your ouroneapp account has been deactivated due to your payment realisation was unsucessful. Please contact our support team for further assistance.<br/><br/>
Best Regards,<br/><br/>
Team Ouroneapp</p>

