<p>Hi $userName$,<br/><br/>
At the onset thank you for downloading and registering on Ouroneapp.<br/><br/>
Now showcasing your product to your customers is made easy and simpler, just click the image with your mobile , write a small description and upload in the frame you wish to display it on, and it goes to all the customers who have you registered in there Ouroneapp.
Share the app, by clicking on link below, and invite your customers to visit your online store. (facebook, google+)( link for buyer app)
Best Regards,<br/><br/>
Team Ouroneapp</p>

