doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title OurOneapp
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
    body
        .row
            .header-img1
                img(src='image/header.jpg')
            .header-logo
                a
                    img(src='image/logo.png')
            .col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-3.col-md-6.col-md-offset-3.col-sm-offset-3.col-sm-6.col-sm-offset-3.col-xs-offset-3.col-xs-12.col-xs-offset-3.text-center.paymentStatus(style='margin-top: 15%;color: green')
                h4 Your Transaction Completed Successfully.
                     