<div>
    <div class="row " style="">
        <button class="btn btn-link" ng-click="exportToExcel('#businessDetails')" style="float:right;">
            <span class="glyphicon glyphicon-share"></span> Export to Excel
        </button>
    </div>
    <!--<label style="float: right">Search:<input ng-model="searchText"></label>-->
    <h3 style="color: #009900"><b><i>Seller Details</i></b></h3>
    <label style="float: right">Search: <input ng-model="searchText"></label>
    <table class="table table-striped table-bordered table-hover" id="businessDetails">
        <thead>
        <tr style="color:#00B7FF">
            <th>Business Name</th>
            <th>Sellers Count</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="business in businessDetails |filter:searchText track by $index ">
            <td><a ui-sref="businessInformation({businessId:business.businessDetails.id,businessName:business.businessDetails.name})">{{business.businessDetails.name}}</a></td>
            <td>{{business.sellersCount}}</td>
        </tr>
        </tbody>
    </table>
</div>