<div>
    <div class="row " style="">
        <button class="btn btn-link" ng-click="exportToExcel('#buyerDetails')" style="float:right;">
            <span class="glyphicon glyphicon-share"></span> Export to Excel
        </button>
<!--        <button class="btn btn-link" ng-click="demoFromHTML('#buyerDetails')" style="float:right;">
            <span class="glyphicon glyphicon-share"></span> Export to PDF
        </button>-->
    </div>
    <h2>Buyer Details</h2>
    <label style="float: right">Search: <input ng-model="searchText"></label>
    <table class="table table-striped table-bordered table-hover" id="buyerDetails">
        <thead>
        <tr>
            <th>Buyer Name</th>
            <th>Phone</th>
            <!--<th>Business Type</th>-->
            <!--<th>Business Name</th>-->
            <th>Sellers Count</th>
            <th>Sellers Details</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="buyer in buyerDet |filter:searchText track by $index">
            <!--<td><a ui-sref="sellerInformation({sellerId:seller.sellersDetails.id,sellerName:seller.sellersDetails.name})">{{seller.sellersDetails.name}}</a></td>-->
            <td>{{buyer.buyersDetails.name}}</td>
            <td>{{buyer.buyersDetails.phone}}</td>
            <!--<td>{{seller.sellersDetails.businessTypeName}}</td>-->
            <!--<td>{{seller.sellersDetails.businessName}}</td>-->
            <td>{{buyer.sellersCount}}</td>
            <!--<td ng-repeat="buyerDet in seller.buyerDetails"> {{buyerDet.buyer.name}}  {{buyerDet.buyer.phone}} <br /></td>-->
            <td>
                <table>
                    <tr  ng-repeat="sellerDet in buyer.sellersDetails">
                        <td>
                            <b>-></b> {{sellerDet.seller.name}}&nbsp:&nbsp{{sellerDet.seller.phone}}<br/>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        </tbody>
    </table>
</div>
