<div>
    <div class="row " style="">
        <button class="btn btn-link" ng-click="exportToExcel('#framesOfSeller')" style="float:right;">
            <span class="glyphicon glyphicon-share"></span> Export to Excel
        </button>
    </div>
    <h2>Frame Details Of {{sellerName}}</h2>
    <label style="float: right">Search: <input ng-model="searchText"></label>
    <table class="table table-striped table-bordered table-hover" id="framesOfSeller">
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
         <tr ng-repeat="frameDet in framesDetails |filter:searchText track by $index">
             <td>{{frameDet.name}}</td>
             <td>{{frameDet.status}}</td>
             <td><img ng-src="https://s3-ap-southeast-1.amazonaws.com/araay/{{frameDet.image.uploadimagename}}" alt="Frame" width="{{width}}" height="{{height}}"></td>
         </tr>
        </tbody>
    </table>
</div>
