<!--date picker code ends-->
<div    style="padding-top: 10px;">
    <span id="errMsg"></span><br>
    <b>Start Date:</b>&nbsp;&nbsp;&nbsp;<input type="text" id="startDatePicker" readonly/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>End Date:</b>&nbsp;&nbsp;&nbsp;<input type="text" id="endDatePicker" readonly/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button ng-click="submit()">Submit</button>
</div>
<div class="row ">
    <button class="btn btn-link" ng-click="exportToExcel('#salesMansReferralDet')" style="float:right;">
        <span class="glyphicon glyphicon-share"></span> Export to Excel
    </button>
</div>
<div class="row">
    <h3 style="color:#0000FF"><b><i>SalesMan Referral Report</i></b></h3>
  <!--  <h4><b>Non-Referral Registrations</b></h4>
    <h6><b>Count for 500: {{registrationsCountWithOutReferral500}}</b></h6>
    <h6><b>Amount for 500: {{registrationsAmountWithOutReferral500}}</b></h6>
    <h6><b>Count for 1000: {{registrationsCountWithOutReferral1000}}</b></h6>
    <h6><b>Amount for 1000: {{registrationsAmountWithOutReferral1000}}</b></h6>
    <h6><b>Count for 1200: {{registrationsCountWithOutReferral1200}}</b></h6>
    <h6><b>Amount for 1200: {{registrationsAmountWithOutReferral1200}}</b></h6>
    <h6><b>Count for 1800: {{registrationsCountWithOutReferral1800}}</b></h6>
    <h6><b>Amount for 1800: {{registrationsAmountWithOutReferral1800}}</b></h6>
    <h6><b>Count for Free Registrations: {{registrationsCountWithOutReferralZero}}</b></h6>-->

    <label style="float: right">Search: <input ng-model="searchText"></label>
    <table class="table table-striped table-bordered table-hover" id="salesMansReferralDet">
        <thead>
        <tr>

            <th>Name</th>
            <th>Phone</th>
            <th>Free Registrations Count</th>
            <th>500 Referral Count</th>
            <th>1000 Referral Count</th>
            <th>1200 Referral Count</th>
            <th>1800 Referral Count</th>
            <th>Total Referral Count</th>
            <th>Total Referral Amount</th>
            <!--<th>Free Referral Count</th>-->
            <!--<th>Free Referral Amount</th>-->

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="salesmanInfo in salesmanDetails |filter:searchText">


            <td>{{salesmanInfo.salesMansDet.name}}</td>
            <td>{{salesmanInfo.salesMansDet.phone}}</td>
            <td>{{salesmanInfo.referralAmount0Count}}</td>
            <td>{{salesmanInfo.referralAmount5Count}}</td>
            <td>{{salesmanInfo.referralAmount10Count}}</td>
            <td>{{salesmanInfo.referralAmount12Count}}</td>
            <td>{{salesmanInfo.referralAmount18Count}}</td>
            <td>{{salesmanInfo.totalReferralCount}}</td>
            <td>{{salesmanInfo.totalReferralAmount}}</td>
            <!--<td>{{registrationsCountWithOutReferral}}</td>-->
            <!--<td>{{registrationsAmountWithOutReferral}}</td>-->


        </tr>
        <tr >

            <td><b>Non-Referral Registrations</b></td>
            <td>     </td>
            <td>{{registrationsCountWithOutReferralZero}}</td>
            <td>{{registrationsCountWithOutReferral500}}</td>
            <td>{{registrationsCountWithOutReferral1000}}</td>
            <td>{{registrationsCountWithOutReferral1200}}</td>
            <td>{{registrationsCountWithOutReferral1800}}</td>
            <td>{{totalRegistrationsCountWithOutReferral}}</td>
            <td>{{totalRegistrationsAmountWithOutReferral}}</td>



        </tr>
        </tbody>
    </table>
</div>



