<div>
    <div class="row ">
        <button class="btn btn-link" ng-click="exportToExcel('#sellersInfo')" style="float:right;">
            <span class="glyphicon glyphicon-share"></span> Export to Excel
        </button>
    </div>
    <h2>SellerDetails</h2>
    <label style="float: right">Search: <input ng-model="searchText"></label>
    <table class="table table-striped table-bordered table-hover" id="sellersInfo">
        <thead>
        <tr>
            <th>Seller Name</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="seller in sellerDetails |filter:searchText track by $index">
            <td><a ui-sref="framesInformation({sellerId:seller.id,sellerName:seller.name})">{{seller.name}}</a></td>
            <!--<td>{{seller.name}}</td>-->
            <td>{{seller.phone}}</td>
            <!--<td ng-repeat="buyerDet in seller.buyerDetails"> {{buyerDet.buyer.name}}  {{buyerDet.buyer.phone}} <br /></td>-->
            <!--<td>
                <table>
                    <tr  ng-repeat="buyerDet in seller.buyerDetails">
                        <td>
                            <b>-></b> {{buyerDet.buyer.name}}&nbsp:&nbsp{{buyerDet.buyer.phone}}<br/>
                        </td>
                    </tr>
                </table>

            </td>-->
        </tr>
        </tbody>
    </table>
</div>
