<div>
    <div class="row ">
        <button class="btn btn-link" ng-click="exportToExcel('#sellersOfBusiness')" style="float:right;">
            <span class="glyphicon glyphicon-share"></span> Export to Excel
        </button>
    </div>
    <h3 style="color: #006600"><b><i>Sellers of  <span style="text-transform: lowercase;">{{businessName}}</span></i></b></h3>
    <h5 style="color:#00B7FF"><b><i>Sellers Count: {{sellersCount}}</i></b></h5>
    <label style="float: right">Search: <input ng-model="searchText"></label>
    <table class="table table-striped table-bordered table-hover" id="sellersOfBusiness">
        <thead>
        <tr style="color:#00B7FF">
            <th>Seller Name</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sellerDet in sellerInformation |filter:searchText track by $index">
            <td>{{sellerDet.name}}</td>
            <td>{{sellerDet.phone}}</td>
        </tr>
        </tbody>
    </table>
</div>