<div>
    <div class="row ">
        <button class="btn btn-link" ng-click="exportToExcel('#sellerDet')" style="float:right;">
            <span class="glyphicon glyphicon-share"></span> Export to Excel
        </button>
    </div>
    <h2>SellerDetails</h2>
    <label style="float: right">Search: <input ng-model="searchText"></label>
    <table class="table table-striped table-bordered table-hover" id="sellerDet">
        <thead>
        <tr>
            <th>Seller Id</th>
            <th>Seller Name</th>
            <th>Phone</th>
            <th>Business Type</th>
            <th>Business Name</th>
            <th>Buyers Count</th>
            <th>Buyers Details</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="seller in sellerDet |filter:searchText track by $index">
            <!--<td><a ui-sref="sellerInformation({sellerId:seller.sellersDetails.id,sellerName:seller.sellersDetails.name})">{{seller.sellersDetails.name}}</a></td>-->
            <td>{{seller.sellersDetails.id}}</td>
            <td>{{seller.sellersDetails.name}}</td>
            <td>{{seller.sellersDetails.phone}}</td>
            <td>{{seller.sellersDetails.businessTypeName}}</td>
            <td>{{seller.sellersDetails.businessName}}</td>
            <td>{{seller.buyersCount}}</td>
           <!--<td ng-repeat="buyerDet in seller.buyerDetails"> {{buyerDet.buyer.name}}  {{buyerDet.buyer.phone}} <br /></td>-->
            <td>
            <table>
                <tr  ng-repeat="buyerDet in seller.buyerDetails">
                    <td>
                        <b>-></b> {{buyerDet.buyer.name}}&nbsp:&nbsp{{buyerDet.buyer.phone}}<br/>
                    </td>
                </tr>
            </table>

            </td>
        </tr>
        </tbody>
    </table>
</div>
