<div>
    <div class="row ">
        <button class="btn btn-link" ng-click="exportToExcel('#subscribedBuyersOfSeller')" style="float:right;">
            <span class="glyphicon glyphicon-share"></span> Export to Excel
        </button>
    </div>
    <h2>{{sellerName}} Subscribed Buyers</h2>
    <h2>buyersCount: {{buyersCount}}</h2>
    <label style="float: right">Search: <input ng-model="searchText"></label>
    <table class="table table-striped table-bordered table-hover" id="subscribedBuyersOfSeller">
        <thead>
        <tr>
            <th>Buyer Name</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="buyerDet in buyerInformation |filter:searchText track by $index">
            <td>{{buyerDet.buyer.name}}</td>
            <td>{{buyerDet.buyer.phone}}</td>
        </tr>
       <!-- <tr ng-repeat="frameDet in framesDetails track by $index">
            <td>{{frameDet.status}}</td>
            <td><img ng-src="https://s3-ap-southeast-1.amazonaws.com/araay/{{frameDet.image.uploadimagename}}" alt="photo" width="{{width}}" height="{{height}}"></td>
        </tr>-->
        </tbody>
    </table>
</div>
